#apolice{
height: 50vh;
padding-top: 1rem;
background-color:#02010194;

p{
    font-family: $lora;
    color: $white;
}
h2{
    margin: 0;
    color: $white;
  
    
}
h3{
    margin: 0;
    color: $white; 
   
}

h4{
    span{

        font-size: 3rem;
   
}
i{
    font-size: 3rem;
    margin-right: 10px;
}

} 

.numeros{
    margin: 0;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    justify-content: space-between;
}
    
}