//color

$primary: #F2732B;
$secondary:#F8B925;
$gray:#353535;
$white:#fcfcfc;
$green:#6ab363;

//font Family

$lora: #{'Lora'};
$Ubuntu:#{'Ubuntu'};

html {
    scroll-behavior: smooth;
}


body{
    font-family: $Ubuntu, sans-serif;

        h2{
            margin-top: 5px;
            color: $gray;
            font-size: 3rem;
            border-left: 1rem solid $primary;
            padding-left: 1rem;
            
        }
           
    
}





@import './header/header.scss';
@import './sobre/sobre.scss';
@import './servicos/servicos.scss';
@import './apolice/apolice.scss';
@import './obras/obras.scss';
@import './parceiros/parceiros.scss';
@import'./footer/footer.scss';
@import'./contato/contato.scss';
@import './mediaQuery/mobile.scss';